* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
/*body,
#root {
  width: 100%;
  height: 100%;
  font-family: Lufga, Calibri, Poppins;
}*/
body {
  margin: 0;
  font-family: "Poppins", Calibri, sans-serif;
  background-color: #f5f7fa;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-padding-top: 16px;
}
